.root {
    -fx-font-family: "Sans-serif";
    -fx-font-size: 14px;
}

.button {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 8;
    -fx-padding: 8 16;
}

.text-field {
    -fx-background-radius: 5;
    -fx-padding: 5;
}
